body {
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=#4.0.3");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}
html,
body,
#container {
  height: 100%;
}
body {
  background: #fff;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
}
a {
  text-decoration: none;
}
.outer {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 20px;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
#main {
  width: 100%;
  padding: 10px 0;
}
.inner {
  display: inline;
  float: left;
  width: 97.77777777777777%;
  margin: 0 1.111111111111111%;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
@media screen and (max-width: 1000px) {
  #header {
    width: 100%;
  }
  #header .nav-container {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
  }
  #header .panel-main {
    padding-top: 40px;
  }
  #header .panel-main .photo-show {
    width: 120px;
    height: 120px;
    margin-top: 20px;
  }
  #header .panel-main .photo-show:hover {
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  #header .logo-wrap {
    font-size: 22px;
  }
  #header .desc {
    display: none;
  }
}
@media screen and (min-width: 1001px) {
  #wrap {
    height: 100%;
  }
  #wrap #header {
    width: 25%;
    height: 100%;
    float: left;
    max-width: 296px;
  }
  #wrap #header .photo-show {
    width: 120px;
    height: 120px;
    margin-top: 20px;
  }
  #wrap #header .logo-wrap {
    font-size: 26px;
  }
  #wrap .outer {
    overflow: auto;
    height: 100%;
  }
}
#header {
  position: relative;
  overflow: hidden;
}
.panel-main {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
}
.panel-main .panel-main_inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.nav-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(51,51,51,0.98);
  padding: 0 10px;
}
.nav-container .nav ul:before,
.nav-container .nav ul:after {
  content: "";
  display: table;
}
.nav-container .nav ul:after {
  clear: both;
}
.nav-container li {
  float: left;
  padding: 0 6px;
}
.nav-container li a {
  display: block;
  width: 100%;
  line-height: 40px;
  color: #666;
}
.photo-show {
  position: relative;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  transition: transform 0.5s;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
  -webkit-perspective: 900px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.photo-show:hover .img {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.photo-show .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.photo-show .info .info-back {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  padding: 10px;
}
.photo-show .info .info-back h3 {
  line-height: 30px;
  margin-top: 10px;
  font-size: 26px;
}
.photo-show .info .info-back p {
  line-height: 30px;
  border-top: 1px solid #fff;
  margin-top: 10px;
}
.photo-show .img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -ms-transition: -ms-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.photo-show .img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  border: 10px solid rgba(254,254,254,0.8);
}
.photo-show .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.header-title {
  margin-top: 20px;
  text-align: center;
}
.header-title .logo-wrap {
  line-height: 30px;
}
.header-title .logo-wrap a {
  color: #fff;
}
.header-title .sub-title {
  margin-top: 2px;
  margin-bottom: 20px;
  font-size: 14px;
}
.header-title .sub-title a {
  color: #fff;
}
.desc {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 40px;
  text-align: center;
  color: #ccc;
}
.desc p {
  border-top: 2px solid #ccc;
}
.cb-slideshow li:nth-child(1) span {
  background-image: url("http://wx1.sinaimg.cn/large/dc58f491ly1fepnoqji5aj20xc0qqgt5.jpg");
}
.cb-slideshow li:nth-child(2) span {
  background-image: url("http://wx1.sinaimg.cn/large/dc58f491ly1fepmxueo9tj21jk10ugwc.jpg");
}
.cb-slideshow li:nth-child(3) span {
  background-image: url("http://wx4.sinaimg.cn/large/dc58f491ly1fepmxv27yfj20sg0hsjww.jpg");
}
.cb-slideshow li:nth-child(4) span {
  background-image: url("http://wx3.sinaimg.cn/large/dc58f491ly1fepmxvp7b1j20zk0qotcp.jpg");
}
.cb-slideshow li:nth-child(5) span {
  background-image: url("http://wx1.sinaimg.cn/large/dc58f491ly1fepmxwdysjj21400p0wli.jpg");
}
.cb-slideshow li:nth-child(6) span {
  background-image: url("http://wx1.sinaimg.cn/large/dc58f491ly1fepmxx2ja5j20zk0qotek.jpg");
}
.cb-slideshow,
.cb-slideshow:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68,68,68,0.6);
}
.cb-slideshow li span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  opacity: 0;
  background-repeat: none;
  -webkit-animation: imgAnimation 36s linear infinite 0s;
  -moz-animation: imgAnimation 36s linear infinite 0s;
  -ms-animation: imgAnimation 36s linear infinite 0s;
  animation: imgAnimation 36s linear infinite 0s;
  -webkit-animation: imgAnimation 36s linear infinite 0s;
}
.cb-slideshow li:nth-child(2) span {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
  -webkit-animation-delay: 14s;
  -moz-animation-delay: 14s;
  -ms-animation-delay: 14s;
  animation-delay: 14s;
}
.cb-slideshow li:nth-child(6) span {
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s;
}
@-webkit-keyframes imgAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}
.archives-wrap {
  width: 100%;
}
.archives-wrap .archives {
  width: 100%;
}
.archives-wrap .archives .archive-article {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .post-list {
    padding-top: 0px;
  }
  .post-list .post-list-icon-mate {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .post-list {
    padding-top: 30px;
  }
}
.archive-article-inner {
  width: 100%;
}
.archive-article-inner .post-list {
  width: 100%;
}
.archive-article-inner .post-list >li {
  -webkit-box-shadow: 4px 4px 4px #efefef, -4px -4px 4px #efefef, -4px 4px 4px #efefef, 4px -4px 4px #efefef;
  box-shadow: 4px 4px 4px #efefef, -4px -4px 4px #efefef, -4px 4px 4px #efefef, 4px -4px 4px #efefef;
}
.archive-article-inner .post-list >li:hover,
.archive-article-inner .post-list >li:focus {
  -webkit-box-shadow: 4px 4px 4px #c9e1f6, -4px -4px 4px #c9e1f6, -4px 4px 4px #c9e1f6, 4px -4px 4px #c9e1f6;
  box-shadow: 4px 4px 4px #c9e1f6, -4px -4px 4px #c9e1f6, -4px 4px 4px #c9e1f6, 4px -4px 4px #c9e1f6;
}
.archive-article-inner .post-list >li >h2 {
  padding-left: 15px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}
.archive-article-inner .post-list >li >h2 >a {
  color: #333;
}
.archive-article-inner .post-list >li >.excerpt {
  padding: 0 15px;
  margin-bottom: 10px;
  border-left: 3px solid #458b74;
  text-indent: 2em;
  font-size: 14px;
  line-height: 1.4;
}
.archive-article-inner .post-list >li >.post-list__meta {
  height: 30px;
  line-height: 30px;
  padding: 0 15px 0 5px;
}
.archive-article-inner .post-list >li >.post-list__meta:before,
.archive-article-inner .post-list >li >.post-list__meta:after {
  content: "";
  display: table;
}
.archive-article-inner .post-list >li >.post-list__meta:after {
  clear: both;
}
.archive-article-inner .post-list >li >.post-list__meta >.date {
  height: 100%;
  color: #c7c7c7;
}
.archive-article-inner .post-list >li >.post-list__meta >.date >img {
  vertical-align: middle;
}
.archive-article-inner .post-list >li >.post-list__meta >.post-list-icon-mate {
  margin-left: 10px;
  height: 100%;
}
.archive-article-inner .post-list >li >.post-list__meta >.post-list-icon-mate >img {
  vertical-align: middle;
}
.archive-article-inner .post-list >li >.post-list__meta >.post-list-icon-mate >.article-tag-list {
  height: 100%;
  float: right;
}
.archive-article-inner .post-list >li >.post-list__meta >.post-list-icon-mate >.article-tag-list >li {
  float: left;
  height: 100%;
}
.archive-article-inner .post-list >li >.post-list__meta >.post-list-icon-mate >.article-tag-list >li a {
  display: block;
  height: 100%;
  padding: 0 5px;
  color: #8a97a1;
}
.archive-article-inner .post-list >li >.post-list__meta >.post-list-small-mate {
  height: 100%;
}
